<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ES6 Chat</title>
  <link rel="stylesheet" href="/css/screen.css">
</head>
<body>
  <div id="app"></div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/traceur-runtime/traceur-runtime.js"></script>
  <script src="bower_components/es6-module-loader/dist/es6-module-loader.js"></script>
  <script src="bower_components/system.js/dist/system.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>System.import('js/main');</script>

  <script type="text/template" name="home">
     <h1>ES6 Chat App</h1>
     <div>
     <a class="btn" href="#" id="newChatRoomButton">New Chatroom</a>
     <ul id="chatrooms-list">
     <% _.each(chatRooms, function(chatRoom) { %>
      <li>
        <a href="#<%= chatRoom.get('id') %>">
          <strong>Chatroom <%= chatRoom.get('id') %></strong>
          <span id="user-count"><%= chatRoom.get('users').length %></span>
        </a>
      </li>
     <% }) %>
     </ul>
     </div>
  </script>

  <script type="text/template" name="chatroom">
    <h1>Chatroom <%= chatRoom.get('id') %></h1>
    <div>
    <a class="btn" href="#">Back to Overview</a>
    <ul id="messages"></ul>
    <form id="sendMessageForm" action="">
      <input id="sendMessageInput" autocomplete="off" /><button>Send</button>
    </form>
    <div id="userlist"></div>
    </div>
  </script>

  <script type="text/template" name="userlist">
    <h2>Userlist</h2>
     <ul>
     <% _.each(users, function(user) { %>
        <li>
          <strong><%= user %></strong>
        </li>
     <% }) %>
     </ul>
  </script>

</body>
</html>
