<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ES6 Chat</title>
  <link rel="stylesheet" href="/css/screen.css">

  <link rel="shortcut icon" type="image/png" href="bower_components/jasmine/images/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="bower_components/jasmine/lib/jasmine-core/jasmine.css">

  <script type="text/javascript" src="bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
  <script type="text/javascript" src="bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
  <script type="text/javascript" src="bower_components/jasmine/lib/jasmine-core/boot.js"></script>

  <script type="text/javascript" src="src/test/views.spec.js"></script>

</head>
<body>
  <div id="app"></div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/traceur-runtime/traceur-runtime.js"></script>
  <script src="bower_components/es6-module-loader/dist/es6-module-loader.js"></script>
  <script src="bower_components/system.js/dist/system.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>System.import('js/main');</script>

  <script type="text/template" name="home">
     <h1>ES6 Chat App</h1>
     <button id="newChatRoomButton">New Chatroom</button>
     <h2>Chatrooms</h2>
     <ul>
     <% _.each(chatRooms, function(chatRoom) { %>
      <a href="#<%= chatRoom.get('id') %>">
        <li>
          <strong>Chatroom <%= chatRoom.get('id') %>
          (<i><%= chatRoom.get('users').length %></i>)
        </li>
      </a>
     <% }) %>
     </ul>
  </script>

  <script type="text/template" name="chatroom">
    <a href="#">Back to Roomlist</a>
    <h1>Chatroom</h1>
    <ul id="messages"></ul>
    <form id="sendMessageForm" action="">
      <input id="sendMessageInput" autocomplete="off" /><button>Send</button>
    </form>
    <div id="userlist"></div>
  </script>

  <script type="text/template" name="userlist">
    <h2>Userlist</h2>
     <ul>
     <% _.each(users, function(user) { %>
        <li>
          <strong><%= user %></strong>
        </li>
     <% }) %>
     </ul>
  </script>

</body>
</html>
